<h2>Projects</h2>
<div>
    <ul>
        <li *ngFor="let project of projects">
            <a routerLink="/projectdetail/{{project.id}}">
                <span class="badge">{{project.id}}: </span>{{project.name}}</a>
            <button class="delete-button" (click)="deleteProject(project)">Delete</button>
        </li>
    </ul>
</div>
<div class="row-md">
    <h2>Create a new project</h2>
    <label id="new-project">Project Name:</label>
    <input for="new-project" #projectName />
    <label id="new-project">Project Description:</label>
    <input for="new-project" #projectDesc />
    <button class="add-button"
        (click)="addProject(projectName.value, projectDesc.value); projectName.value=''; projectDesc.value=''">
        Add Project</button>
</div>