<div class="container">
    <div *ngIf="project">
        <br />
        <div class="card">
            <div class="card-header">
                <h2>{{project.name}}</h2>

            </div>
            <div class="card-body">
                {{project.desc}}
                <br />
                <br />
                <p class="github">Github:
                    <a href={{project.github}} target="_blank">{{project.github}}</a>
                </p>

                <br />
                <div class="row">
                    <div class="col-md-7">
                        <h5>Technologies used:</h5>

                        <ul class="skills">
                            <li *ngFor="let skill of project.skills">{{skill}}</li>
                        </ul>


                    </div>
                    <div class="col-md-5 edit">
                        <h5>Want to edit this project?</h5>
                        <hr />
                        <label id="project-name">Enter new name:</label>
                        <input id="project-name" [(ngModel)]="project.name">
                        <br />

                        <label id="project-desc">Enter new description:</label>
                        <input id="project-desc" [(ngModel)]="project.desc">
                        <br />

                        <button class="save-button btn btn-outline-primary" (click)="save()">Save</button>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <br />
                <button class="back-button btn btn-outline-light" (click)="goBack()">Go Back</button>

            </div>
        </div>
    </div>
</div>