 .card {
     margin: 0 0 5em 0;
     padding: 0;
 }
 .card-header, .card-footer {
    background-color:#405061;
    color: white;
 }
 .card-header {
     font-size: xx-large;
 }
 
 .edit {
     /* position: absolute; */
     text-align: right;
     right: 0;
     font-size: 110%;
 }
 .skills {
     list-style-type: none;
     text-decoration: none;
     cursor: pointer;
     color: #333;
     background-color: #EEE;
     line-height: 2em;
     border-radius: 2px;
     display: block;
 }
 .github {
     text-align: center;
 }